{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">
        <img src="/static/images/sonic.png" alt="Sonic Icon" style="width: 50px; height: 50px; vertical-align: middle;">
        Dashboard
    </h1>

    <!-- Navigation Tabs -->
    <ul class="nav nav-tabs mb-4" id="dashboard-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="positions-tab-link" data-bs-toggle="tab" href="#positions-tab" role="tab" aria-controls="positions-tab" aria-selected="true">
                Positions
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="prices-tab-link" data-bs-toggle="tab" href="#prices-tab" role="tab" aria-controls="prices-tab" aria-selected="false">
                Prices
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="heat-tab-link" data-bs-toggle="tab" href="#heat-tab" role="tab" aria-controls="heat-tab" aria-selected="false">
                Heat
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="config-tab-link" data-bs-toggle="tab" href="#config-tab" role="tab" aria-controls="config-tab" aria-selected="false">
                Configuration
            </a>
        </li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content">
        <!-- Positions Tab -->
        <div class="tab-pane fade show active" id="positions-tab" role="tabpanel" aria-labelledby="positions-tab-link">
            {% include "positions.html" %}
        </div>

        <!-- Prices Tab -->
        <div class="tab-pane fade" id="prices-tab" role="tabpanel" aria-labelledby="prices-tab-link">
            {% include "prices.html" %}
        </div>

        <!-- Heat Tab -->
        <div class="tab-pane fade" id="heat-tab" role="tabpanel" aria-labelledby="heat-tab-link">
            {% include "heat_display.html" %}
        </div>

        <!-- Configuration Tab -->
        <div class="tab-pane fade" id="config-tab" role="tabpanel" aria-labelledby="config-tab-link">
            {% include "sys_config_display.html" %}
        </div>
    </div>
</div>

<!-- Bootstrap Script -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
